on boot && property:ro.boot.product.hardware.sku=nfc
    enable vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class hal
    user nfc
    group nfc
    disabled
